@charset "utf-8";
/* CSS Document */
.review2{
	display: block;
	margin: 0 auto;
}

.review3{
	display: none;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 18px;
	min-height: 100vh;
	line-height: 1.5em;
}
h1 img{
	width: 80px;
	margin-left: 1em;
}

header{
	background: #ffa726;
	position: relative;
	height: 60px;
}

a{
	text-decoration: none;
	color: #000;
}

header nav ul{
	display: flex;
	position: absolute;
	top: 1em;
	right: 0;
}

header nav ul li{
	margin: 0 0.5em;
}
.w1{
	max-width: 850px;
	margin: 0 auto;
	
}

/*========= ナビゲーションのためのCSS ===============*/

#g-nav {
    /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
	 display: none;
    position:fixed;
	z-index: -1;
	opacity: 0;/*はじめは透過0*/
    /*ナビの位置と形状*/
	top:0;
	left:0;
	width:100%;
    height: 100vh;/*ナビの高さ*/
	background: #fff;
    /*動き*/
	transition: all 0.3s;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
#g-nav.panelactive {
	opacity: 1;
	z-index:999;
}



/*ナビゲーション*/
#g-nav .gnav_in {
   
    /*ナビゲーション天地中央揃え*/
  
    z-index: 1000;
    
    
	
}

#g-nav.panelactive .gnav_in {
	
}

#g-nav ul{
	
	top: 50%;
	left: 50%;
	margin: 0 auto;
	
	display: flex;
	flex-direction: column;
	transform: translate(-50%,-50%);
	
}
/*リストのレイアウト設定*/


#g-nav li{
	font-family: 'Kanit', sans-serif;
	list-style: none;
    text-align: left; 
	font-weight: bold;
	font-size: 1.5em;
	width: 7em;
	margin-bottom: 2em;
	background: url("../images/circle.png") no-repeat center left;
	padding-left: 1.2em;
}

/*#g-nav li a:before{
	content: "ー";
	margin-right: 10px;
}
*/
#g-nav li a{
	color: #000;
	text-decoration: none;
	
	letter-spacing: 0.1em;
	font-weight: bold;
}
.gnav_in li{
	color: #000;
}
#g-nav li:before{
	
	margin-right: 10px;
}
/*========= ボタンのためのCSS ===============*/
.openbtn{
	display: none;
	position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
	top:10px;
	right: 10px;
	cursor: pointer;
    width: 50px;
    height:50px;
}
	
/*×に変化*/	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: #000;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:8px;	
}

.openbtn span:nth-of-type(2) {
	top:16px;
}

.openbtn span:nth-of-type(3) {
	top:24px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}


section{
	padding-bottom: 60px;
}
#login{
	text-align: center;
	margin-top: 5em;
}

#login h2{
	font-size: 2em;
	margin-bottom: 1em;
}

#login .w1{
	text-align: center;
}
input{
	margin-bottom: 1em;
	text-align: center;
}

#btn{
	margin: 2em 0;
}


#login p{
	margin-bottom: 1.5em;
}
footer{
	display: flex;
	justify-content: space-between;
	background: #ffa726;
	position: absolute;
	width: 100%;
	height: 55px;
	left: 0;
	bottom: 0;
	
}



footer a img{
	width: 250px;
	
}
#index{
	justify-content: flex-end;
}
small{
	position: absolute;
	top: 2.5em;
	right: 1em;
	font-size: 0.6em;
}


#home{
	margin-top: 5em;
}

#home nav ul{
	display: flex;
	justify-content: space-around;
}
#home nav ul li{
	
	align-items: center;
	background: #f9ddb4;
	border: solid 1px #000;
	text-align: center;
}

#home nav ul li a{
	display: inline-block;
	width: 200px;
	padding: 1em 0;
}
#home h2{
	background: url("../images/circle.png") no-repeat left center;
	padding: 0 0 0 1.2em;
	margin: 2em 0 1em 0;
}

.seki{
	width: 30px;
	height: 30px;
	background: #3b8d04;
	margin: 1.5em 1.5em;
	
}
.sekiinfo{
	display: flex;
	justify-content: flex-end;
	position: absolute;
	top: -1.5em;
	right: 0;
}
.sekiinfo span{
	width: 1em;
	height: 1em;
	margin: 3px 0.3em 0 1em;
}
.true{
	background: #3b8d04;
}

.false{
	background: #ff0000;
}

.seki2{
	width: 30px;
	height: 30px;
	background: #ff0000;
	margin: 1.5em 1.5em;
}

.sofa{
	background:#bfe4ff; 
	width: 480px;
	display: flex;
	justify-content: space-between;
}


.sofachair{
	background: #c8a8da;
	width: 80px;
	position: absolute;
	top: 85px;
	left: 0;
}

.chair{
	background: #f3bdd7;
	width: 350px;
	display: flex;
	justify-content: center;
}

.chair .seki{
	border-radius: 15px;
}
.chair .seki2{
	border-radius: 15px;
}
.counter{
	background: #ffdfa2;
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.counter2{
	background: #b3ddd2;
	width: 300px;
	display: flex;
	justify-content: center;
	margin-left: 70px;
	align-items: center;
}


#lounge .picture{
	border: solid 1px #000;
	height: 340px;
	position: relative;
}

.picture2{
	display: none;
}
.col2{
	display: flex;
	justify-content: space-between;
}




#lounge .col3{
	position: absolute;
	top: 8em;
	right: 0;
}

#nowpeople{
	display: flex;
	justify-content: center;
}
.info .col{
	display: block;
}
#lounge .else{
	position: absolute;
	top: 15.39em;
	right: 0;
}
.info{
	
	align-items:flex-end;
	display: flex;
	justify-content: space-around;
}

.info .col p{
	font-size: 0.8em;
	text-align: center;
}

#lounge input{
	margin-bottom: 0;
	
}

.counter .seki{
	width: 20px;
	height: 20px;
	margin: 1em 0.5em;
}

.counter2 .seki{
	width: 20px;
	height: 20px;
	margin-right: 1em;
	margin-left: 1em;
	
}

.counter .seki2{
	width: 20px;
	height: 20px;
	margin: 1em 0.5em;
}

.counter2 .seki2{
	width: 20px;
	height: 20px;
	margin-right: 1em;
	margin-left: 1em;
	
}
.book{
	background: #bdb9b9;
	width: 350px;
	padding: 1em 0;
	text-align: center;
}

.elevator{
	background: #bdb9b9;
	width: 300px;
	padding: 1em 0;
	margin-left: 70px;
	text-align: center;
}

#content{
	display: flex;
	justify-content: space-around;
	margin-top: 1em;
}
#content .col2{
	justify-content: center;
	
}

#content span{
	width: 1em;
	height: 1em;
	margin: 3px 0.3em 0 0;
}

#purple{
	background: #c8a8da;
}

#blue{
	background: #bfe4ff;
}

#pink{
	background: #f3bdd7;
}

#yellow{
	background: #ffdfa2;
}
#green{
	background: #b3ddd2;
}

#lounge h2{
	font-size: 1.5em;
	margin: 1em 0 0.5em 0;
}

.text{
	text-align: center;
	position: relative;
}

#date{
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
}

#date span{
	text-align: center;
	font-size: 0.6em;
}



#people{
	font-size: 1.8em;
}

.btn input{
	display: inline-block;
	padding: 0.5em 2em;
}

#lounge_camera img{
	width: 600px;
}

.camera_longe{
	display: none;
}

table{
	border: 1px solid #000;
	width: 100%;
}

table th{
	border: 1px solid #000;
	background: #f9ddb4;
	vertical-align: middle;
}

table td{
	border: 1px solid #000;
	padding: 0.5em 1em;
}

#contact h2{
	background: url("../images/circle.png") no-repeat center left;
	padding: 0.3em 0 0 1.2em;
	margin: 1.5em 0 1em 0;
}
#contact input[type="text"]{
	width: 100%;
	padding: 1em 0;
	margin: 0;
}

#contact textarea{
	width: 100%;
}

#contact .btn{
	text-align: center;
	margin: 3em 0;
}

.w2{
  max-width: 600px;
  margin: 0 auto;
}


#lounge_camera h2{
	font-size: 1.5em;
	margin: 1em 0 0.5em 0;
}

#maintenance p{
	font-size: 1.5em;
	margin: 8em auto;
	text-align: center;
}

.bx-wrapper .bx-controls-direction a {
	z-index: 10;
}

#stars span{
  display: flex;               /* 要素をフレックスボックスにする */
  flex-direction: row-reverse; /* 星を逆順に並べる */
  justify-content: flex-end;   /* 逆順なので、左寄せにする */
}

#stars input[type='radio']{
  display: none;               /* デフォルトのラジオボタンを非表示にする */
}

#stars label{
  color: #D2D2D2;              /* 未選択の星をグレー色に指定 */
  font-size: 30px;             /* 星の大きさを30pxに指定 */
  padding: 0 5px;              /* 左右の余白を5pxに指定 */
  cursor: pointer;             /* カーソルが上に乗ったときに指の形にする */
}

#stars label:hover,
#stars label:hover ~ label,
#stars input[type='radio']:checked ~ label{
  color: #F8C601;              /* 選択された星以降をすべて黄色にする */
}

#review{
	
	
	border: solid 1px #000;
	width: 300px;
	height: 150px;
	background: #B7B447;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	z-index: 100000;
}
.title{
	margin-top: 2em;
}
body{
	
	position: relative;
}
#stars{
	display: flex;
	justify-content: center;
	
}

#close{
	border-radius: 15px;
	font-size:25px;
	width: 30px;
	height: 30px;
	position: absolute;
	top: -10px;
	right: -10px;
}

#logoutbtn{
	margin-left: 2em;
	margin-top: 1em;
	display: flex;
	justify-content: flex-start;
}




@media screen and (min-width: 1px) and (max-width: 850px) {
	.pc_nav{
		display: none;
	}
	
	.openbtn{
		display: block;
	}
	
	#g-nav{
		display: block;
	}
	
	.gnav_in{
		display: block;
	}
	body{
		font-size: 14px;
	}
	
	.picture{
		display: none;
		
	}
	.w1{
		margin: 0 1em;
	}
	.picture2{
		display: block;
		border: solid 1px #000;
		width: 320px;
		height: 455px;
		position: relative;
		margin: 1.5em auto 0 auto;

	}
	
	.sofa{
		width: 70px;
		display: block;
		margin-bottom: 30px;
	}


	.sofachair{
		width: 250px;
		top: 0;
		left: 0;
		display: flex;
		justify-content: space-between;
	}

	.chair{
		margin: 80px 0 30px 0;
		width: 70px;
		display: block;
	}


	.counter{
		width: 70px;
		display: block;
	}


	.counter2{
		width: 70px;
		display: block;
		margin-left: 0;
	}
	
	.picture2 .col{
		display: flex;
		justify-content: space-between;
	}
	

	.book{
		margin: 80px 0 30px 0;
		writing-mode: vertical-rl;
		width: 70px;
		padding: 3.5em 0;
		display: flex;
		align-items: center;
		
	}

	.elevator{
		display: flex;
		align-items: center;
		margin-left: 0;
		writing-mode: vertical-rl;
		width: 70px;
		padding: 3.5em 0;
		
	}
	
	
	.seki{
		width: 20px;
		height: 20px;
		margin: 1em auto;
		

	}
	
	.seki2{
		width: 20px;
		height: 20px;
		margin: 1em auto;
		background: #ff0000;

	}
	
	.sofa .seki{
		margin: 1.5em auto;
	}
	
	.sofa .seki2{
		margin: 1.5em auto;
	}


	.counter .seki{
		width: 15px;
		height: 15px;
		margin: 0.8em auto;
	}

	.counter2 .seki{
		width: 15px;
		height: 15px;
		margin: 1.4em auto;

	}
	
	
	.counter .seki2{
		width: 15px;
		height: 15px;
		margin: 0.8em auto;
	}

	.counter2 .seki2{
		width: 15px;
		height: 15px;
		margin: 1.4em auto;

	}
	
	#lounge h2{
		font-size: 1.5em;
		margin: 1em 0 0.5em 1em;
	}
	
	#content{
		flex-wrap: wrap;
		margin-top: 1em;
	}
	
	small{
		position: absolute;
		top: 3.5em;
		right: 1em;
		font-size: 0.6em;
	}
	
	.bx-wrapper{
		margin: 0.5em 1em;
	}
	
	#lounge_camera h2{
		margin-left: 1em;
	}
	
	th{
		display: block;
		padding: 0.5em 0;
	}
	
	td{
		display: block;
	}
	
	#contact h2{
		padding-left: 1.5em;
	}
	
	#home h2{
		
		padding-left:1.6em;
		padding-top: 0.2em;
	}

	
	
}

@media screen and (min-width: 1px) and (max-width: 650px) {
	#home nav ul li a{
		max-width: 140px;
		
	}
	
}

@media screen and (min-width: 1px) and (max-width: 450px) {
	#content{
		width: 320px;
		margin: 1em auto 0 auto;
	}
	
	.info{
		margin: 1em auto 0 auto;
		max-width: 320px;
		flex-wrap: wrap;
	}
	
	.info #nowpeople{
		margin: 0 2em;
	}
	
	.info .btn{
		margin-top: 2em;
	}
	.bx-wrapper{
		display: none;
	}
	
	.camera_longe{
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	
	.camera_longe img{
		max-width: 200px;
	}
	
	
	
	#lounge_camera .text{
		margin-bottom: 0.5em;
	}
	
	#home nav ul{
		display: block;
		
	}
	#home nav ul li{
		margin: 1em auto;
		width: 200px;
	}

	#home nav ul li a{
		max-width: 200px;
		
	}
	
	#home h2{
		padding: 0.2em 0 0 1.5em;
	}
	
	
	
	
}
